################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TechXpress Final/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/TechXpress Final/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/TechXpress Final/v17/.wsuo
/.vs/TechXpress Final/v17/DocumentLayout.backup.json
/.vs/TechXpress Final/v17/DocumentLayout.json
